body {
        background: #c4d1d1;
}
.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.body2 {
    display: flex;
    flex: 1;
}
.content {
    flex: 1;
    background: #ffc94e;
}
.sidebar {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
    background: #c9ea5d;
}
header
{
    background: #92e4c9;
}
footer
{
    background: #f7846a;
}
* {
    color: #333;
}
