.main_body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.div1 {
    display: flex;
    flex: 1;
}
.content {
    flex: 1;
    background: #6A5ACD;
}
.sidebar {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
    background: #DDA0DD;
}
body {
        background: #FFFFFF;
}
header
{
    background: #D3D3D3;
}
footer
{
    background: #4B0082;
}
* {
    color: #333;
}
